@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-light: #f6f6f6;
    --bg-dark: #101213;
    --primmary-color: #2FB2FC;
    --primmary-light-color: #7FCDFA;
    --primmary-lighter-color: #D5F0FE;
    --lighter-gray: #F0F0F0;
    --light-gray: #E8E8E8;
    --medium-gray: #D9D9D9;
    --dark-gray: #2B2B2B;
    --ui-white: #fff;
    --ui-black: #000;
    --accent-red: #FF1111;
    --accent-green: #3CCA0A;
    --accent-purple: #6D45FF;
    --accent-brown: #FF9246;
    /* main-dashboard colors */
    --dark-pink: #FD4B85;
    --light-pink: #FFEDEE;
    --dark-cyan: #1DDAB7;
    --light-cyan: #E8FAF9;
    --dark-orange: #FE8300;
    --light-orange: #FFFAE5;
    --dark-purple: #AF3FFF;
    --light-purple: #F7ECFF;
    --medium-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --dashboard-card-shaodw: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --border-radius: 11.2881px;
}


/* border radius */

.br-lg {
    border-radius: 32px !important;
}


/* text size */

.text-sm {
    font-size: 18px !important;
}

.text-md {
    font-size: 20px !important;
}


/* Margin */

.lr-margin {
    margin-right: 20%;
}


/* Text Color */

.text-accent-green {
    color: var(--accent-green);
}

.text-accent-red {
    color: var(--accent-red);
}

.bring-top {
    z-index: 9999999999;
}


/* dropdshow */

.medium-shadow {
    box-shadow: var(--medium-shadow);
}


/* font weight */

.fw-900 {
    font-weight: 900 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.width-90 {
    width: 90%;
}

.width-70 {
    width: 70% !important;
}

.width-80 {
    width: 80% !important;
}

.width-95 {
    width: 95%;
}

.width-98 {
    width: 98%;
}

.text-dark-gray {
    color: var(--dark-gray);
}

.bg-custom-primary {
    background-color: var(--primmary-color) !important;
    color: #fff;
}

.text-custom-primary {
    color: var(--primmary-color);
}

.bg-light-gray {
    background-color: var(--light-gray);
}

.bg-pink {
    background-color: var(--light-pink);
}

.text-pink {
    color: var(--dark-pink);
}

.text-purple {
    color: var(--dark-purple);
}

.bg-cyan {
    background-color: var(--light-cyan);
}

.text-cyan {
    color: var(--dark-cyan);
}

.bg-orange {
    background-color: var(--light-orange);
}

.text-orange {
    color: var(--dark-orange);
}

.hr-custom {
    width: 100%;
    color: var(--bg-light);
    background-color: var(--bg-light);
}

body {
    background-color: var(--bg-light);
    font-family: 'Lato', sans-serif;
    color: #000;
}

.bg-medium-gray {
    background-color: var(--medium-gray);
}


/* sidemenu */

.side-bar-wrapper {
    position: sticky !important;
    z-index: 99999;
    top: 0;
    left: 0;
    height: 100%;
}

.side-link {
    font-size: 1rem;
    text-align: center;
    width: 100%;
}

.side-link-active {
    background-color: var(--primmary-color);
}

.side-bar {
    margin-top: 3rem !important;
}


/* table-line */

.table>:not(:last-child)>:last-child>* {
    border-bottom-color: transparent;
}


/* password Property */

.field-icon-hide,
.field-icon-show,
.search-icon {
    background-size: cover;
    background-repeat: no-repeat;
    width: 8px !important;
    height: auto;
    float: right;
    margin-left: -145px !important;
    margin-top: -35px;
    position: relative;
    padding: 1rem;
    z-index: 9999;
}

.field-icon-hide {
    background: url('../assets/Icon/Hide.svg');
    background-repeat: no-repeat;
}

.search-icon {
    background: url('../assets/Icon/search.svg');
    background-repeat: no-repeat;
    margin-right: -200px !important;
    margin-top: -32px !important;
}

.bg-custom-dark {
    background-color: var(--bg-dark);
    color: #fff;
}

.field-icon-show {
    background: url('../assets/Icon/Show.svg');
    background-repeat: no-repeat;
}


/* login utilities */

.mt-login {
    margin-top: 10rem;
}


/* form Utitlity */

.form-link {
    color: var(--primmary-color);
    font-weight: 700;
    font-size: normal;
}

.form-control {
    border-color: var(--light-gray);
}


/* Hosipital Background */

.hospital-bg {
    background: url('../assets/Img/Login\ BG.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 50%;
}


/* Button */

.btn-custom-primary {
    color: white;
    background-color: var(--primmary-color);
}

.btn-custom-danger {
    color: white;
    background-color: var(--accent-red);
}

.btn-custom-success {
    color: white;
    background-color: var(--accent-green);
}

.btn-outline-custom-primary {
    color: var(--primmary-color);
    border: 1px solid var(--primmary-color);
    background-color: transparent;
}

.btn-outline-custom-light {
    color: white;
    border: 1px solid var(--lighter-gray);
    background-color: transparent;
}

.btn-outline-custom-light:hover {
    color: var(--lighter-gray);
}

.btn-custom-primary-light {
    color: white;
    background-color: var(--primmary-light-color);
}

.btn-outline-custom-danger {
    color: var(--accent-red);
    border: 1px solid var(--accent-red);
    background-color: transparent;
    border-radius: 4px;
}

.text-title {
    font-weight: 900;
}

.bg-cover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.design-right {
    z-index: 2;
    width: 150%;
    height: auto;
    overflow: hidden;
}

label {
    text-transform: capitalize;
}


/* sticky */

.sticky-bottom {
    position: sticky;
    bottom: 0;
    right: 0;
}


/* topnave */

.top-nav {
    width: 100%;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 9999;
}

#right-wrapper,
#left-wrapper {
    padding-right: 0 !important;
    padding-left: 0 !important;
    position: relative;
}

.profile-details p {
    font-size: 0.8rem;
    margin-bottom: 0;
    margin-top: -8px;
    color: var(--dark-gray);
}

.profile-mask {
    overflow: hidden;
    background: url('../assets/Img/profile\ Pics.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid var(--lighter-gray);
}

.search-input input {
    display: inline-block;
    width: 200% !important;
}

.notification-icon {
    height: 35px;
    width: auto;
}


/* Brand */

.brand-logo {
    height: 45px !important;
    width: auto;
    margin-left: 40px;
    margin-top: 1rem;
}


/* -------------------------------MAIN DASHBOARD STYLYING */

.icon-mask {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.dashboard-card {
    box-shadow: var(--dashboard-card-shaodw);
    border-radius: 10px;
}

.dashboard-card-details h2 {
    font-weight: 900 !important;
    font-size: 32px;
}

.dashboard-card-details p {
    font-size: 21px;
}

.trans-card {
    position: relative;
}

.dashboard-card-link {
    position: absolute;
    top: 5px;
    right: 15px;
}


/* Pagination Customise */

.page-link {
    color: var(--primmary-color) !important;
}

.page-item.active .page-link {
    background-color: var(--primmary-color);
    color: var(--ui-white) !important;
    border: 0 !important;
}


/* total price */

#total-price {
    margin-top: 4rem;
    padding: 0 !important;
}

.empty-illustration {
    height: 70px;
    width: auto;
}

.empty-state-illustration {
    padding: 6rem !important;
}

#createnewcategory,
.pop-up {
    z-index: 99999999 !important;
}


/* DIagnosis */

.delete-diagnosis-icon {
    height: 23px;
    width: auto;
}

.table-header {
    font-size: 1.5rem !important;
}


/* Reception Patient */

.patient-img {
    width: 100px;
    height: 100px;
    border: 2px solid var(--primmary-color);
    border-radius: 50%;
    background: url(../assets/Img/Female\ Profile.jpg) center center/cover;
}

.info-table {
    font-size: 20px;
}


/* tag primary */

.tag-primary {
    padding: 0.7rem 1rem;
    border-radius: 10px;
    background-color: var(--primmary-lighter-color);
    display: inline-block;
    color: var(--primmary-color);
}

.xray {
    background: url(../assets/Img/xray.png) center center/cover;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
}

.result-tag {
    position: absolute;
    bottom: 10px;
    left: 20px;
}


/* Tag ui */

.ui-tag {
    padding: 0.5rem;
    border-radius: 5px;
}

.receptionist-tag {
    background-color: hsla(0, 97%, 59%, 0.1);
    color: var(--accent-red);
}

.blood-tag {
    background-color: hsla(253, 100%, 64%, 0.1);
    color: var(--accent-purple);
}

.malaria-tag {
    background-color: hsla(25, 100%, 64%, 0.1);
    color: var(--accent-brown);
}

.xray-tag {
    background-color: hsla(104, 90%, 42%, 0.1);
    color: var(--accent-green);
}

.staff-profile {
    background: url(../assets/Img/Female\ Profile.jpg) center center/cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 200px;
    border-radius: 10px;
}


/* Login text edit */

.side-text {
    position: absolute;
    bottom: 10px;
    left: 150px;
    z-index: 99999999999999;
    text-align: center;
}

.dervac {
    height: 50px;
    width: auto;
}